.wrapper{
    max-width: 700px;
    margin: 0 auto;
    position: relative;
}
img{
    max-width: 120%;
}
.wrapper figcaption{
    background-color: pink;
    border: 50px;
    font-size: x-large;
    color: blue;
    display: inline-block;
    padding: 15px 30px;
    position:absolute;
    top: 30px;
    left: 20px;
}