div.wrapper{
    height: 400px;
    width: 400px;
    background-color: black;
}

div.relative {
    position: relative;
    top: 200px;
    left: 100px;
    height: 400px;
    width: 400px;
    border: 6px solid green;
    color: red;
  }